In [1]:
for i in range(1,6):
    print('Hello World!!')

Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!

In [2]:
i=1
while i < 6:
    print('Hello World! %d'  %i)
    i+=1

Hello World! 1
Hello World! 2
Hello World! 3
Hello World! 4
Hello World! 5

In [3]:
sum = 0

i=1
while i < 6:
    sum = sum +i
    i+=1
print('1부터 5까지 합은 %d이다.' %sum)

1부터 5까지 합은 15이다.

## Loop문 제어: Break, Continue
* Break는 주어진 if 문 만족시 반복문 빠져나온다
* Continue는 주어진 if 문 만족시 해당턴만 제끼고 다시 위로 가서 반복된다.
* i+=1 위치 주의 할 것

In [13]:
i = 0
while i < 10:
    i+=1
    if i== 5:
        break
    print(i)

1
2
3
4

In [15]:
i = 0
while i < 10:
    i+=1
    if i== 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [17]:
i =0 
while i< 20:
    i=i+1
    if i%2 == 0:
        continue
        
        
    print(i)

1
3
5
7
9
11
13
15
17
19

In [4]:
sum = 0

a = 0
b = 0

while True :
    a = int(input('첫 번재 숫자:'))
    b = int(input('두 번재 숫자:'))
    sum = a+b
    print('%d + %d =%d' %(a,b,sum))

첫 번재 숫자:1
두 번재 숫자:2
1 + 2 =3
첫 번재 숫자:

ValueError: invalid literal for int() with base 10: ''

In [ ]:
sum = 0

a = 0
b = 0

while True :
    if (a < 0 or b < 0):
        break
    a = int(input('첫 번재 숫자:'))
    b = int(input('두 번재 숫자:'))
    sum = a+b
    print('%d + %d =%d' %(a,b,sum))

In [ ]:
sum = 0

a = 0
b = 0

while True :
    if (a < 0):
        break
    a = int(input('첫 번재 숫자:'))
    b = int(input('두 번재 숫자:'))
    sum = a+b
    print('%d + %d =%d' %(a,b,sum))

### 구구단 출력하기 
* While 문 

* For 문

* Print Format 연습

In [29]:
dan = [1,2,3,4,5,6,7,8,9]
val = [1,2,3,4,5,6,7,8,9]

for a in dan:
    for b in val:
        gugu = a * b
        print(a, 'x' , b, '=', gugu )

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [32]:
for a in range(2,10):
    for b in range(1,10):
        gugu = a * b
        print(a, 'x' , b, '=', gugu )

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [69]:
num1 = 1

while num1 < 10:
    print('단',num1)
    for num2 in range(1,10):
        print(num1, 'x', num2, '=', num1 * num2 )
    num1+=1
    print()

단 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9

단 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

단 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

단 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

단 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

단 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

단 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

단 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

단 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [79]:
num1 = 1

while num1 < 10:
    print('단',num1)
    for num2 in range(1,10):
        print('{} x {} = {}' .format(num1,num2, num1 * num2))
    num1+=1
    print()

단 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9

단 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

단 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

단 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

단 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

단 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

단 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

단 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

단 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [81]:
num1 = 1

while num1 < 10:
    print('단',num1)
    for num2 in range(1,10):
        print('%d x %d = %d' %(num1,num2, num1 * num2))
    num1+=1
    print()

단 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9

단 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

단 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

단 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

단 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

단 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

단 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

단 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

단 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [87]:
n = 1
i = 1
sum = n * i

while n <= 9 and i <= 9:

    i = i + 1
    if i == 10:
        n = n + 1
        i = 1
        continue
    print("%d * %d = %d" % (n, i, sum))

단 1
1 * 2 = 1
1 * 3 = 1
1 * 4 = 1
1 * 5 = 1
1 * 6 = 1
1 * 7 = 1
1 * 8 = 1
1 * 9 = 1
2 * 2 = 1
2 * 3 = 1
2 * 4 = 1
2 * 5 = 1
2 * 6 = 1
2 * 7 = 1
2 * 8 = 1
2 * 9 = 1
3 * 2 = 1
3 * 3 = 1
3 * 4 = 1
3 * 5 = 1
3 * 6 = 1
3 * 7 = 1
3 * 8 = 1
3 * 9 = 1
4 * 2 = 1
4 * 3 = 1
4 * 4 = 1
4 * 5 = 1
4 * 6 = 1
4 * 7 = 1
4 * 8 = 1
4 * 9 = 1
5 * 2 = 1
5 * 3 = 1
5 * 4 = 1
5 * 5 = 1
5 * 6 = 1
5 * 7 = 1
5 * 8 = 1
5 * 9 = 1
6 * 2 = 1
6 * 3 = 1
6 * 4 = 1
6 * 5 = 1
6 * 6 = 1
6 * 7 = 1
6 * 8 = 1
6 * 9 = 1
7 * 2 = 1
7 * 3 = 1
7 * 4 = 1
7 * 5 = 1
7 * 6 = 1
7 * 7 = 1
7 * 8 = 1
7 * 9 = 1
8 * 2 = 1
8 * 3 = 1
8 * 4 = 1
8 * 5 = 1
8 * 6 = 1
8 * 7 = 1
8 * 8 = 1
8 * 9 = 1
9 * 2 = 1
9 * 3 = 1
9 * 4 = 1
9 * 5 = 1
9 * 6 = 1
9 * 7 = 1
9 * 8 = 1
9 * 9 = 1

In [100]:
dan =1 

while dan < 10:
    print('단',dan, end='')
    dan +=1
print()
    
for i in range(1,10):
    dan=1
    while dan<10:
        print(i, 'x',dan, '=', (dan*i),'   ', end='')
        dan = dan+1
    print()

단 1단 2단 3단 4단 5단 6단 7단 8단 9
1 x 1 = 1    1 x 2 = 2    1 x 3 = 3    1 x 4 = 4    1 x 5 = 5    1 x 6 = 6    1 x 7 = 7    1 x 8 = 8    1 x 9 = 9
2 x 1 = 2    2 x 2 = 4    2 x 3 = 6    2 x 4 = 8    2 x 5 = 10    2 x 6 = 12    2 x 7 = 14    2 x 8 = 16    2 x 9 = 18
3 x 1 = 3    3 x 2 = 6    3 x 3 = 9    3 x 4 = 12    3 x 5 = 15    3 x 6 = 18    3 x 7 = 21    3 x 8 = 24    3 x 9 = 27
4 x 1 = 4    4 x 2 = 8    4 x 3 = 12    4 x 4 = 16    4 x 5 = 20    4 x 6 = 24    4 x 7 = 28    4 x 8 = 32    4 x 9 = 36
5 x 1 = 5    5 x 2 = 10    5 x 3 = 15    5 x 4 = 20    5 x 5 = 25    5 x 6 = 30    5 x 7 = 35    5 x 8 = 40    5 x 9 = 45
6 x 1 = 6    6 x 2 = 12    6 x 3 = 18    6 x 4 = 24    6 x 5 = 30    6 x 6 = 36    6 x 7 = 42    6 x 8 = 48    6 x 9 = 54
7 x 1 = 7    7 x 2 = 14    7 x 3 = 21    7 x 4 = 28    7 x 5 = 35    7 x 6 = 42    7 x 7 = 49    7 x 8 = 56    7 x 9 = 63
8 x 1 = 8    8 x 2 = 16    8 x 3 = 24    8 x 4 = 32    8 x 5 = 40    8 x 6 = 48    8 x 7 = 56    8 x 8 = 64    8 x 9 = 72
9 x 1 = 9    9 x 2 = 18    9 x 3 = 27    9 x 4 = 36    9 x 5 = 45    9 x 6 = 54    9 x 7 = 63    9 x 8 = 72    9 x 9 = 81

In [115]:
dan =1 

# while dan < 10:
#     print('단',dan, end='')
#     dan +=1
# print()
    
for i in range(1,10):
    dan=1
    while dan<10:
        print('%d x %d = %2d    ' %(i,dan, i*dan),  end='')
        dan = dan+1
    print()

1 x 1 =  1    1 x 2 =  2    1 x 3 =  3    1 x 4 =  4    1 x 5 =  5    1 x 6 =  6    1 x 7 =  7    1 x 8 =  8    1 x 9 =  9
2 x 1 =  2    2 x 2 =  4    2 x 3 =  6    2 x 4 =  8    2 x 5 = 10    2 x 6 = 12    2 x 7 = 14    2 x 8 = 16    2 x 9 = 18
3 x 1 =  3    3 x 2 =  6    3 x 3 =  9    3 x 4 = 12    3 x 5 = 15    3 x 6 = 18    3 x 7 = 21    3 x 8 = 24    3 x 9 = 27
4 x 1 =  4    4 x 2 =  8    4 x 3 = 12    4 x 4 = 16    4 x 5 = 20    4 x 6 = 24    4 x 7 = 28    4 x 8 = 32    4 x 9 = 36
5 x 1 =  5    5 x 2 = 10    5 x 3 = 15    5 x 4 = 20    5 x 5 = 25    5 x 6 = 30    5 x 7 = 35    5 x 8 = 40    5 x 9 = 45
6 x 1 =  6    6 x 2 = 12    6 x 3 = 18    6 x 4 = 24    6 x 5 = 30    6 x 6 = 36    6 x 7 = 42    6 x 8 = 48    6 x 9 = 54
7 x 1 =  7    7 x 2 = 14    7 x 3 = 21    7 x 4 = 28    7 x 5 = 35    7 x 6 = 42    7 x 7 = 49    7 x 8 = 56    7 x 9 = 63
8 x 1 =  8    8 x 2 = 16    8 x 3 = 24    8 x 4 = 32    8 x 5 = 40    8 x 6 = 48    8 x 7 = 56    8 x 8 = 64    8 x 9 = 72
9 x 1 =  9    9 x 2 = 18    9 x 3 = 27    9 x 4 = 36    9 x 5 = 45    9 x 6 = 54    9 x 7 = 63    9 x 8 = 72    9 x 9 = 81

### 모듈에서 책갈피로 활용 되는 if__name__= "__Main__":

In [1]:
import ww1
sum(1,3)

TypeError: 'int' object is not iterable

In [2]:
from ww1 import sum
sum(1,3)

4